h1 {
    color: cadetblue;
    background-color: pink;
    text-align: center;
}
p {
    color: brown;
    background-color: blue;
}
#Frim {
     color: cadetblue;
     background-color: brown;
}
.warnasatu {
    color: green;
    background-color: brown;
}
.warnadua {
    color: aqua;
    background-color: blue;
}
.warnasatu {
    color: coral;
    background-color: pink;
}
.warnadua {
    color: white;
    background-color: cornflowerblue;
}
.warnatiga {
    color: darkkhaki;
    background-color: red;
}
#kotak-satu {
    height: 100px;
    width: 100px;
    background-color: cyan;
    margin-bottom: 10px;
}
#kotak-dua {
    height: 100px;
    width: 500px;
    background-color: chartreuse;
    margin-bottom: 10px;
}
#kotak-tiga {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}
#bikinbg {
    width: 500px;
    height: 200px;
    background-color: cyan;
    color: white;
    background-image: url("../images/bikinbg.jpg");
    background-size: cover;
    border-radius: 20px;
}
#bikinbg h2 {
    text-align: center;
    padding-top: 80px;
}
#bikinpattern{
    width: 500px;
    height: 200px;
    background-color:palevioletred;
    color:black;
    background-image: url("../images/bikinpattern100.jpg");
    border-radius: 20px;
    background-repeat: repeat;
}
#bikinpattern h2 {
    text-align: center;
    padding-top: 80px;
}